{extends file="main.html"}

{block name=content}
<section class="content">
    <h2 class="content-head is-center">Kalkulator</h2>
    <div class="box">
        <form action="{$app_url}/app/calc.php" method="post">
            <label for="x">Liczba 1:</label>
            <input id="x" type="text" name="x" value="{$form->x}" placeholder="Podaj liczbę">

            <label for="op">Operacja:</label>
            <select name="op">
                {if isset($res->op_name)}
                    <option value="{$form->op}">{$res->op_name}</option>
                    <option value="" disabled>---</option>
                {/if}
                <option value="plus">+</option>
                <option value="minus">-</option>
                <option value="times">*</option>
                <option value="div">/</option>
            </select>

            <label for="y">Liczba 2:</label>
            <input id="y" type="text" name="y" value="{$form->y}" placeholder="Podaj liczbę">
            
            <h3>Kalkulator kredytowy</h3>

            <label for="loan_amount">Kwota kredytu:</label>
            <input id="loan_amount" type="text" name="loan_amount" value="{$form->loan_amount}" placeholder="Podaj kwotę">

            <label for="years">Ilość lat:</label>
            <input id="years" type="text" name="years" value="{$form->years}" placeholder="Podaj ilość lat">

            <label for="interest_rate">Oprocentowanie (% roczne):</label>
            <input id="interest_rate" type="text" name="interest_rate" value="{$form->interest_rate}" placeholder="Podaj oprocentowanie">

            <button type="submit" class="button big">Oblicz</button>
        </form>
    </div>
	
	{if isset($errors) && $errors|@count > 0}
		<div class="box error">
			<h4>Błędy:</h4>
			<ul>
				{foreach $errors as $err}
					<li>{$err}</li>
				{/foreach}
			</ul>
		</div>
	{/if}


    {if isset($res->result)}
        <div class="box success">
            <h4>Wynik operacji:</h4>
            <p>{$res->result}</p>
        </div>
    {/if}

    {if isset($res->monthlyPayment)}
        <div class="box success">
            <h4>Miesięczna rata kredytu:</h4>
            <p>{$res->monthlyPayment} PLN</p>
        </div>
    {/if}
</section>
{/block}
